.container {
  width: 300px;
  margin: 0 auto;
  color: #000;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  padding: 30px;
}

input[type="button"], input[type="submit"] {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.contact label {
  color: #F96D6E;
  font-weight: 600;
  font-size: 14px;
}

.contact input[type="text"], .contact input[type="email"], .contact input[type="number"] {
  width: 94.5%;
  padding: 10px;
  margin: 10px 0 20px;
  outline: none;
  color: #000;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

.contact textarea {
  height: 100px;
}

.contact ::-webkit-input-placeholder {
  color: #666;
}

.contact ::-moz-placeholder {
  color: #666;
}

.contact ::-moz-placeholder {
  color: #666;
}

.contact ::-ms-input-placeholder {
  color: #666;
}

.send-button input[type="submit"] {
  padding: 10px 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  border: none;
  outline: none;
  color: #FFF;
  background-color: #009688;
  cursor: pointer;
}

.send-button input[type="submit"]:hover {
  background-color: #F96D6E;
}